<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python310\python.exe|C:\Python310\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\ncp-backend" />
        <!-- <add key="PYTHONPATH" value="C:\Users\adebayo.oyebamiji\Desktop\ncp-frontend"/> -->
        <add key="WSGI_HANDLER" value="ibedc.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="ibedc.settings" />
  </appSettings>
</configuration>
